body {
	margin: 0;
	width: 100vw;
	height: 100%;
	padding: 0;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
}

.Game {
	position: absolute;
	background: url('./bg4.png');
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.Sorry {
	background: rgb(128, 44, 44);
	background: linear-gradient(0deg, rgb(145, 86, 10) 0%, rgb(128, 44, 44) 70%);

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	margin: 0;
	font-size: 5vw;
}

.Board {
	width: calc(20vw);
	height: calc(40vw);

	border: 1px solid black;

	margin-top: -3%;
	position: sticky;

	background: url('./bg4.png');
	background-size: cover;
	outline: none;

	-webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

.Board:nth-of-type(1) {
	order: 1;
}

.Board:nth-of-type(2) {
	order: 3;
}

.__cells {
	width: 2vw;
	height: 2vw;
	float: left;
	border: 1px solid black;
	box-sizing: border-box;

	color: white;

	-webkit-box-shadow: inset 0px 0px .75vh .75vh rgba(10, 10, 10, 0.75);
	-moz-box-shadow: inset 0px 0px .75vh .75vh rgba(10, 10, 10, 0.75);
	box-shadow: inset 0px 0px .75vh .75vh rgba(10, 10, 10, 0.75);
}

.--E {
	background: #141414;
}

.--O {
	background: rgb(250, 250, 0);
}

.--I {
	background: #00eeff;
}

.--J {
	background: rgb(57, 43, 255);
}

.--L {
	background: #d88c00;
}

.--S {
	background: rgb(8, 245, 8);
}

.--T {
	background: #b106b1;
}

.--Z {
	background: red;
}

.--D {
	background: rgb(248, 57, 88);
}

.__GameOver {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	font-size: 4vw;
	text-align: center;
	color: rgb(238, 139, 139);
}

.Score {
	position: absolute;
	box-sizing: border-box;
	bottom: -6vh;

	width: 100%;
	height: calc(5vh + 3px);
	line-height: 5vh;
	text-align: center;
	font-size: 4.5vh;

	background: url('./bg4.png');
	background-size: cover;

	border: 1px solid black;

	-webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

.__combo {
	color: yellow;
	transition: linear .5s;
	font-size: 70%;
}

.__Pause {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	font-size: 4vw;
	text-align: center;
	color: rgb(238, 139, 139);
	background: rgb(102, 102, 102);
	opacity: .6;
}

.Next {
	width: calc(4 * 2vw);

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: -10vw;
}

.Board:first-of-type .Next {
	left: -10vw;
}

.Next .__nextElem {
	width: calc(4 * 2vw);
	height: calc(4 * 2vw);

	margin-top: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.Next .__nextElem table {
	border-collapse: collapse;
}

.__nextElem td {
	width: calc(2vw);
	height: calc(2vw);

	border: 2px solid #000000 !important;

	box-sizing: border-box;

	-webkit-box-shadow: inset 0px 0px .45vw .45vw rgba(10, 10, 10, 0.75);
	-moz-box-shadow: inset 0px 0px .45vw .45vw rgba(10, 10, 10, 0.75);
	box-shadow: inset 0px 0px .45vw .45vw rgba(10, 10, 10, 0.75);
}

.Settings {
	margin: 2%;
	width: 15vw;
	position: relative;
	top: -10vh;
	order: 2;
}

.__btn {
	width: 100%;
	height: 3vw;
	background: rgb(144, 179, 18);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	border-top: none;

	border-right: 3px solid rgb(92, 114, 11);
	border-left: 3px solid rgb(92, 114, 11);
	border-bottom: 3px solid rgb(92, 114, 11);

	border-radius: 5px;
	outline: none;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

.__btn:active {
	width: calc(100% - 6px);
	height: calc(3vw - 3px);
	margin-bottom: 3px;
	position: relative;
	top: 3px;
	left: 3px;
	border-width: 0;
}

.Audio {
	width: 100%;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
}

.__toggle,  .__soundEffect{
	width: 3vw;
	height: 3vw;
	background: #90b312;
	border-radius: 5px;
	font-size: 2.5vw;
	line-height: 3vw;
	text-align: center;
	box-sizing: border-box;
	letter-spacing: .75vw;

	cursor: pointer;
}

.--disabled{
	background: #757575;
}

.__volume {
	width: 8vw !important;
	transform: translate(0, -5%);
	height: 3vw;
}

input[type=range] {
	background-color: transparent;
	-webkit-appearance: none;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #90b312;
	border: 1px solid #010101;
	border-radius: .45vw;
	cursor: pointer;
	height: .9vw;
}

input[type=range]::-webkit-slider-thumb {
	margin-top: -1px;
	width: .9vw;
	height: .9vw;
	background: #5c720b;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	background: #90b312;
	border: 1px solid #010101;
	border-radius: .45vw;
	cursor: pointer;
	height: .9vw;
}
input[type=range]::-moz-range-thumb {
	margin-top: -1px;
	width: .9vw;
	height: .9vw;
	background: #5c720b;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

input[type=range]::-ms-track {
	background: #90b312;
	border: 1px solid #010101;
	border-radius: .45vw;
	cursor: pointer;
	height: .9vw;
}

input[type=range]::-ms-fill-lower {
	background: #90b312;
	border: 1px solid #010101;
	border-radius: .45vw;
	cursor: pointer;
	height: .9vw;
}

input[type=range]::-ms-fill-upper {
	background: #90b312;
	border: 1px solid #010101;
	border-radius: .45vw;
	cursor: pointer;
	height: .9vw;
}
input[type=range]::-ms-thumb {
	margin-top: -1px;
	width: .9vw;
	height: .9vw;
	background: #5c720b;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
	/*Needed to keep the Edge thumb centred*/
}

.HighestScore{
	width: 100%;
	background: rgb(70, 70, 70);
	border-radius: 5px;
	border: 3px solid black;
	padding: 0 5px;
	box-sizing: border-box;
	margin-top: .5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.HighestScore .__place{
	width: calc(100% - .5vw);
	height: 2vw;
	line-height: 2vw;
	font-size: 1.8vw;
	border-radius: 5px;
	
	border: 3px solid black;
	margin: .5vw;

	text-align: center;
}

.HighestScore .__place:nth-of-type(1){
	background: rgb(196, 163, 16);
}

.HighestScore .__place:nth-of-type(2){
	background: rgb(112, 112, 112);
}

.HighestScore .__place:nth-of-type(3){
	background: rgb(88, 65, 0);
}

.HighestScore h3{
	margin: .5vw;
}

